html { overflow: scroll; }
body { 
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

header {
	margin: 10px 10px 0 10px;
}

footer, section {
	margin: 10px;
}

#main {
	float: left;
	width: 520px;
}

#text, #about {
	float: left;
	max-width: 440px;
}

footer {
	clear: both;
}

/* adaptive for all */

@media all and (max-width: 1000px) {
	body { 
		margin: 0 auto;
		width: 100%;
		max-width: 520px;
	}
	#main, #text, #about {
		float: none;
		width: 100%;
	}
}
