<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
<script>
	document.createElement('header');
	document.createElement('nav');
	document.createElement('section');
	document.createElement('article');
	document.createElement('aside');
	document.createElement('footer');
</script>
<style>
	header, nav, section, article, aside, footer { display:block; }
</style> 
<![endif]-->
<!-- Custom styles for this template -->
<link href="css/vvvas.css" rel="stylesheet">
<title>{{ page.title }}</title>
</head>
<body>
<header>
	<div>
		<a href="/">VVVas GitHub Page</a>
		<a href="#about">О компании</a>
		<a href="#co">Сотрудничество</a>
	</div>
</header>
<a class="name" name="text"></a>
<section id="text">
	<div>

{{ content }}

	</div>
</section>

<a class="name" name="blog"></a>
<section id="blog">
	<div>
	<ul>
	{% for post in site.posts %}
		<li>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ul>
	</div>
</section>
<a class="name" name="about"></a>
<section id="about">
	<div>
		<h1>О компании</h1>
		Отличный текст про жизнь.

Генсек НАТО Андерс Фог Расмуссен заявил, что российская артиллерия используется против украинских войск с украинской территории, говорится в его коммюнике.

По словам генсека, альянс наблюдает «значительное увеличение российского военного участия в (событиях) на восточной Украине с середины августа, включая использование российских войск».

«В добавление к этому российская артиллерийская поддержка — через границу и с территории Украины — используется против украинских вооруженных сил», — заявил Расмуссен.

Украина и страны Запада уже неоднократно заявляли, что в России у госграницы с Украиной якобы скапливаются войска. При этом доказательств этому до сих пор предоставлено не было. МИД РФ назвал эти утверждения «публичными бездоказательными инсинуациями», представители минобороны РФ также часто опровергали эти заявления. Международные инспекции не зафиксировали никаких нарушений со стороны РФ на границе с Украиной, в том числе незаявленной военной деятельности. Дислокацию российских войск вдоль границы с Украиной ранее проверили восемь международных инспекционных групп.

Ранее официальный представитель министерства обороны России генерал-майор Игорь Конашенков уже указывал заокеанским коллегам, «что кроме социальных сетей, из которых ими сегодня, как известно, добывается большая часть разведывательных данных о Вооруженных силах России, существуют и другие источники информации, достоверность которых не вызывает сомнений».

Запад также неоднократно обвинял Россию в поставках вооружений ополченцам. Москва в ответ не раз заявляла, что не поставляет оружие ополченцам, на востоке Украине нет ни российских военных, ни любых других специальных подразделений. В Москве также отвергают обвинения во вмешательстве в дела Украины, заявляют, что Россия не является стороной внутриукраинского конфликта. Президент РФ Владимир Путин заявлял, что прежде чем обвинять Россию, надо представить реальные доказательства.

	</div>	
</section>
<a class="name" name="co"></a>
<section id="co">
	<div>
		<h1>Сотрудничество</h1>
		Отличный текст про дружбу.

Генсек НАТО Андерс Фог Расмуссен заявил, что российская артиллерия используется против украинских войск с украинской территории, говорится в его коммюнике.

По словам генсека, альянс наблюдает «значительное увеличение российского военного участия в (событиях) на восточной Украине с середины августа, включая использование российских войск».

«В добавление к этому российская артиллерийская поддержка — через границу и с территории Украины — используется против украинских вооруженных сил», — заявил Расмуссен.

Украина и страны Запада уже неоднократно заявляли, что в России у госграницы с Украиной якобы скапливаются войска. При этом доказательств этому до сих пор предоставлено не было. МИД РФ назвал эти утверждения «публичными бездоказательными инсинуациями», представители минобороны РФ также часто опровергали эти заявления. Международные инспекции не зафиксировали никаких нарушений со стороны РФ на границе с Украиной, в том числе незаявленной военной деятельности. Дислокацию российских войск вдоль границы с Украиной ранее проверили восемь международных инспекционных групп.

Ранее официальный представитель министерства обороны России генерал-майор Игорь Конашенков уже указывал заокеанским коллегам, «что кроме социальных сетей, из которых ими сегодня, как известно, добывается большая часть разведывательных данных о Вооруженных силах России, существуют и другие источники информации, достоверность которых не вызывает сомнений».

Запад также неоднократно обвинял Россию в поставках вооружений ополченцам. Москва в ответ не раз заявляла, что не поставляет оружие ополченцам, на востоке Украине нет ни российских военных, ни любых других специальных подразделений. В Москве также отвергают обвинения во вмешательстве в дела Украины, заявляют, что Россия не является стороной внутриукраинского конфликта. Президент РФ Владимир Путин заявлял, что прежде чем обвинять Россию, надо представить реальные доказательства.

	</div>
</section>
<footer>
	<div>
		<a href="/">VVVas GitHub Page</a>
		<a href="#about">О компании</a>
		<a href="#co">Сотрудничество</a>
	</div>
	</footer>
</body>
</html>
